<app-navbar></app-navbar>
<div class="movie-card" style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
      <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
          <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img class="card-img"  src={{movie.ImagePath}} alt= {{movie.Title}} />
      <div class="action-wrapper">
      <mat-card-actions>
          <div class="detail-buttons">
          <button
        
              
              mat-button
                color="primary"
                class="details-button"
               
          >
              Genre
          </button>
          <button
              mat-button
              class="detail-buttons"
              (click)="getDirector(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)" 
          >
              Director
          </button>
          <button
              mat-button
              class="details-button"
              (click)="getSynopsis(movie.Description)"
          >
              Synopsis
          </button>
        </div>
        <div class="add-fav">
          <mat-icon>favorite_border</mat-icon> 
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
