.profile-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.mat-card{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border: none;
}
.profile-form{
  background-color: white;
}

img {
  width: 250px;
  //height: 350px;
  object-fit: contain;
  margin-top: auto;
}